<header>
    <h1>{{title}}</h1>
    <nav>
        <ul>
            <a href="/">
                <li>Pogoda</li>
            </a>
            <a href="/about">
                <li>O mnie</li>
            </a>
            <a href="/help">
                <li>Pomoc</li>
            </a>
        </ul>
    </nav>
</header>